* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/pattern-background-desktop.svg), #E1E9Ff;
    background-repeat: no-repeat, no-repeat;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .box {
    width: 30%;
    background: hsl(225, 100%, 98%);
    border-radius: 15px;
    text-align: center;
}

.main .box .box-text svg {
    width: 100%;
    border-radius: 15px 15px 0 0;
    margin-bottom: 30px;
}

.main .box .box-text h1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.main .box .box-text p {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    padding-left: 43px;
    padding-right: 43px;
    margin-bottom: 30px;
}

.main .box .box-anuncier {
    display: inline-flex;
    background-color: hsl(225, 100%, 94%);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.main .box .box-anuncier .music {
    text-align: left;
    margin-left: 23px;
    margin-right: 90px;
}

.main .box .box-anuncier .music h4 {
    margin-bottom: 3px;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.main .box .box-anuncier .music p {
    color: hsl(224, 23%, 55%);
}

.main .box .box-anuncier a {
    color: hsl(245, 75%, 52%);
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
}

.main .box .box-anuncier a:hover {
    text-decoration: none;
}

.main .box .box-button button {
    padding: 15px;
    width: 75%;
    border: none;
    border-radius: 10px;
    color:  hsl(225, 100%, 98%);
    font-weight: 700;
    background: hsl(245, 75%, 52%);
    margin-bottom: 30px;
    box-shadow: 0 10px 25px hsl(224, 23%, 55%);
}

.main .box .box-button .cancel {
    display: block;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    margin-bottom: 40px;
}

.main .box .box-button .cancel:hover {
    color: hsl(223, 47%, 23%);
}


@media (min-width: 850px) and (max-width: 1100px){
    .main .box {
        width: 40%;
    }
}

@media (min-width: 650px) and (max-width: 849px){
    .main .box {
        width: 54%;
    }
}

@media (min-width: 488px) and (max-width: 649px){
    .main .box {
        width: 70%;
    }
}

@media (min-width: 375px) and (max-width: 487px){
    .main .box {
        width: 100%;
    }
}